.board{
	color:#ffffff;
	background-color:#404040;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	margin-bottom: 0px;
	padding: 10px;
	background-size: cover;
	display: block;
}

.board .putIn{
	background-color:#808080;
}

/*simulating board*/
.sb{
	width: 75%;
	height: 75em;
	color: #ffffff;
	background-color: #404040;
	background-attachment: right;
	border-radius: 5px;
	float: right;
	overflow: auto;
}

/*simulating list*/
.sl{
	color: #000000;
	text-align: center;
	vertical-align: center;
	padding-top:auto;
	padding-bottom:auto;
	background-color: #f0ad4e;
	width: inherit;
	height: 180px;
	background-size:fixed;
	font-weight: bold;
	border-radius: inherit;
	float: inherit;
}

/*output board*/
.ob{
	width: 75%;
	height: 75em;
	color: #ffffff;
	background-color: #404040;
	background-attachment: right;
	border-radius: 5px;
	float: right;
	overflow: auto;
}

/*output list*/
.ol{
	color: #000000;
	text-align: center;
	vertical-align: center;
	padding-top:auto;
	padding-bottom:auto;
	background-color: #f0ad4e;
	width: inherit;
	height: 180px;
	background-size:fixed;
	font-weight: bold;
	border-radius: inherit;
	float: inherit;
}

body{
	
}

.list{
	position:relative;
	height:20px;
	width:cover;
	border-radius:5px;
	background-color:#ffffff;
}
#na{
	width: 500px;
	height: 500px;
	background-color:#cccccc;
}
#item{
	position:relative;
	height: 20px;
	width: 40px;
	border-radius: 5px;
	background-color: #ffffff;
}
#simulating{
	color: #ffffff;
	height: 40px;
	width: 100px;
	background-color: #337ab7;
}
#create{
	color: #ffffff;
	height: 40px;
	width: 100px;
	background-color: #f0ad4e;
}
