.board{
	color:#ffffff;
	background-color:#404040;
	-webkit-background-size:cover;
		 -moz-background-size:cover;
			  -o-background-size:cover;
	margin-bottom: 0px;
	padding: 10px;
	background-size: cover;
	display: block;
	z-index: -1;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          		    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.item{
	margin: 0;
	padding: 0;
}
.input-sidebar, .output-sidebar{
	text-align: center;
}
.input-sidebar{
	color: #337ab7;
}
.output-sidebar{
	color: #f0ad4e;
}
.title{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 40px;
}
.title .input{
	color: #337ab7;
}
.title .output{
	color: #f0ad4e;
}
#glyphicons{
	padding: 1px;
	align:center;
	margin: 0 auto;
}
.input:hover{
	background: #337ab7;
	cursor: pointer;
	transition: background .5s;
}
.output:hover{
	background: #f0ad4e;
	cursor: pointer;
	transition: background .5s;
}
.process{
	position: fixed;
	bottom: 75px;
	align: center;
	color: #ffffff;
	height: 20px;
	padding: 10px;
	margin: 0;
}
#simulating{	
	background-color: #337ab7;
}
#create{
	background-color: #f0ad4e;
}
